ul.menu li {
    padding: 9px 0;
}
ul.menu a {
    color:black;
}
ul.menu > li > a {
    padding:9px;
    color:black;
    font-weight:200;
    text-transform:uppercase;
    font-size: 14px;
    font-family: unset;
    text-decoration:none;
}
@media screen and (min-width:768px){
#menu-main-menu a {
    font-size: 20px;
}
}
.current_page_parent > a,.current_page_item > a,.current_page_parent .current-menu-item > a {
    text-decoration: underline;
}
.free-gift a {
    font-weight:400!important;
}
.nav .shopping-cart.menu svg {
    fill: white;
    height: 15px;
}
/* @media screen and (min-width:1200px){
ul.menu li:first-child a {
    border: none;
    padding-left: 0;
}
} */
li.cta > a {
    background: #007bff;
    color: white !important;
    z-index: 1;
    position: relative;
}
ul.sub-menu {
    list-style: none;
    padding-top: 1rem;
}
/* nav items */

/* a#navToggle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(100%, -50%);
    height: 25px;
    width: 50px;
    z-index:9;
    cursor: pointer;
} */
.nav-toggle > div{
    cursor:pointer;
}
.nav-toggle div div {
    background:black;
    height: 5px;
    width: 50px;
    margin:4px auto;
}
    /* hides nav items */
    div#navItems {
        /* min-height: 0;
        height: 0; */
        width:100%;
        pointer-events:none;
/*         overflow: scroll; */
        transition: all 1s ease-in-out;
        position: fixed;
        min-height:480px;
    height: 100vh;
    top: 0;
    left: 15px;
    z-index: 5;
    /* width: 100%; */
}
div#navItems.activate{
    pointer-events: all;
}
div#navItems .col{
        background:white;
        transition: all .75s ease-in-out;
        z-index: 5;
    }
    div#menuCol1 {
        left:-100%;
        z-index:6!important;
    }
    div#menuCol1.activate {
        left:0;
    }
    div#menuCol2 {
        left:-200%;
        z-index:1;
    }
    div#menuCol2.activate {
        left:0;
        margin-bottom: 100px;
    }
    .img-dropdown {
        height: 125px;
    }
    /* .nav-items .menu-main-menu-container {
        overflow: hidden;
        width: 250px;
        padding: 20px;
    } */
    .col-dropdown-menu-images .overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.35);
        transition: all .25s ease-in-out;
    }
    .col-dropdown-menu-images:hover .overlay {
        background: rgba(0,0,0,.5);
    }
    .dropdown-menu-images-content {
        top: 50%;
        transform: translate(0, -50%);
    }
@media screen and (min-width:768px){
	div#menuCol1 {
    overflow: scroll;
    height: 100vh;
}
}
/* for dropdown menus */
/* ul.sub-menu {
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.menu-item-has-children:hover ul.sub-menu {
    height: 200px;
} */
    @media screen and (min-width:768px){
    .col.dropdown-menu-images {
        overflow: scroll;
        min-height: 480px;
    height: 100vh;
    }
}
    .dropdown-menu-images-single {
        min-height:240px;
        object-fit: cover;
    }
    @media screen and (min-width:992px){
        .dropdown-menu-images-single {
            /* height:50vh; */
            height:325px;
        }
    }
@media screen and (max-width:1199px){
    /* .col-md-3.nav-toggler-col,.col-md-3.shopping-cart {
        flex: 0 0 100%;
        max-width: 100%;
    } */
    .nav ul#menu-main-menu{
        /* display: block!important;
        background:#077973; */
        padding: 0 20px 20px;
    }
    .menu-main-menu-container {
        pointer-events: none;
    }
    .activate .menu-main-menu-container {
        pointer-events: all;
    }
    .nav ul.shopping-cart.menu {
        background: transparent;
        display: flex !important;
    }
    .sub-menu-parent .sub-menu-parent {
        height:100%;
        position:relative;
    }
}
@media screen and (min-width:1200px) {
    /* .nav{
        height:61.95px;
    } */
    /* ul.sub-menu {
        opacity:0;
        height:0;
        position: absolute;
        background:#029d95;
        transition: .5s ease-in-out;
        z-index:1;
        list-style: none;
        padding:1rem;
        height:0;
        position:absolute;
    } */
    .sub-menu-parent .sub-menu-parent{
        height:0;
    }
    .sub-menu-parent .sub-menu-parent {
        height:0;
        position: absolute;
        list-style: none;
        background: #077973;
        transition: .5s ease-in-out;
        padding: 0;
        z-index: 10;
        overflow:hidden;
    }
    /* .menu-item-has-children:hover > .sub-menu {
        opacity: 1;
        z-index:1;
    } */
}
/* for blog and other pages */
.page-template-blog header#header,.single header#header,.archive header#header,.category header#header,.tag header#header,.search header#header {
    background: #f3be7c;
}
/* website specific css */
/* img.logo {
    position: relative;
    z-index: 1;
    margin-bottom: -70px;
    width: 100%;
    height:auto;
} */

/* @media screen and (max-width:991px){
    img.logo {
    padding-top: 20px;
    margin-bottom: 30px;
    }
} */
/* @media screen and (max-width:767px){
.request-quote{
    margin-top:50px;
    text-align:center;
}
}
@media screen and (min-width:992px) and (max-width:1199px){
.request-quote{
    font-size: 1rem;
    margin-top: 1rem;
}
} */